---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import HeroImg from "../components/HeroImg.astro";
import cover from "../assets/cover.png";
import { getCollection } from "astro:content";
import Img from "../components/Img.astro";
import ArticleCard from "../components/Article-card";
import H2 from "../components/H2.astro";
const articles = await getCollection("article");
---

<Layout>
  <div>
    <section id="about" class="lg:flex my-4 px-6 md:px-12">
      <Hero />
      <HeroImg />
    </section>
    <section id="blog" class="mt-16 px-6 md:px-12">
      <div >
        <H2>
          <p slot="screensm">ARTICLES.</p>
          <p slot="screenxl">Published Articles</p>
        </H2>
      </div>
      <div>
        {
          articles.map((info, i) => {
            return (
              <ArticleCard info={info.data}>
                <Img imgSrc={cover} imgAlt={"coverImg"} />
              </ArticleCard>
            );
          })
        }
      </div>
    </section>
  </div>
</Layout>
