---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio,
    reiciendis deserunt dolor dolores minima asperiores autem nesciunt rerum
    obcaecati iusto. Totam, sed illo inventore ea odio repudiandae in vitae
    alias?
  </main>
</Layout>

