---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import HeroImg from "../components/HeroImg.astro";
import H2 from "../components/H2.astro";
import ProjectCardSlider from "../components/Project-card-slider.astro";
import ProjectCardRow from "../components/Project-card-row.jsx";
import Img from "../components/Img.astro";
import cover from "../assets/cover.png"
import { getCollection } from "astro:content";
const projects = await getCollection("project");
---

<Layout>
  <div>
    <div class="lg:flex my-4 px-6 md:px-12">
      <Hero />
      <HeroImg />
    </div>
    <div class="my-8 md:mt-16 md:mb-12">
      <div class="px-6 md:px-12">
        <H2>PROJECTS.</H2>
      </div>
      <div class="pl-6 md:pl-6 hidden lg:block">
        <ProjectCardSlider projects={projects} />
      </div>
      <div class="lg:hidden">
        <ProjectCardRow projects={projects} client:load >
         <Img imgSrc={cover} imgAlt={"Article cover Image"} imgClass={"w-full h-36"}/>
        </ProjectCardRow>
      </div>
    </div>
  </div>
</Layout>

