---
import { Image } from "astro:assets";
import msgMe from "../assets/msgMe.png";
---

<div class="flex items-center text-sm">
  <div class="">
    <h2
      class="text-4xl uppercase md:capitalize  md:text-8xl xl:text-9xl font-extrabold text-white opacity-10 mb-4 md:mb-8 xl:mb-20"
    >
      Let's Talk.
    </h2>
    <p class="mb-8 md:w-[85%]">
      I’m interested in hearing from you to collaborate or talk about any
      freelance opportunities - especially the ones centered around solving
      human problems. Don’t hesitate to use the form below.
    </p>
    <input
      class="h-12 md:h-16 w-full bg-[#3A3A3A] mb-4 xl:mb-8 rounded-md p-4 md:p-6"
      type="email"
      placeholder="Email"
    />
    <textarea
      class="w-full bg-[#3A3A3A] mb-12 p-4 md:p-6 text-main/50 h-28 md:h-40"
      name=""
      id=""
      cols=""
      rows=""
      placeholder="Message Content"></textarea>
    <a
      href=""
      class="bg-none py-3 px-6 border-[3px] rounded-lg shadow-md shadow-neutral-900 border-sec text-sec font-semibold hover:shadow-none hover:border-sec active:border-sec focus:border-sec hover:bg-sec active:bg-sec focus:bg-sec hover:text-white active:text-white focus:text-white"
      >Message me</a
    >
  </div>
  <div class="hidden lg:flex w-full">
    <Image class="w-[93%] scale-[1.2]" src={msgMe} alt="message me" />
  </div>
</div>
