<div>
  <div class="hidden md:flex items-center">
    <div class="bg-sec h-10 w-1.5 inline-block"></div>
    <h2 class="text-white inline-block font-base text-base ml-3">
      <slot name="screenxl" />
    </h2>
  </div>
  <div class="mt-16">
    <h2 class="md:hidden text-4xl font-extrabold text-white opacity-20">
      <slot name="screensm"/>
    </h2>
  </div>
</div>
