---
import Logo from "./Logo.astro";
import BtnMain from "./Btn-main.astro";
const navLinks = ["About", "Project", "Blog", "Contact"];
---

<div
  class="navbar px-6 md:px-12 py-6 flex w-full items-baseline justify-between"
>
  <Logo />
  <div class="hidden sm:flex nav-box text-sm w-3/6 lg:w-2/5 justify-end">
    <ul class="flex justify-between items-center">
      {
        navLinks.map((navLink) => {
          return (
            <li>
              <a
                href={`/#${navLink}`}
                class="nav-link sm:mx-3 mx-6 hover:text-white active:text-white focus:text-white"
              >
                {navLink}
              </a>
            </li>
          );
        })
      }
      <li class="ml-10">
        <BtnMain>Resume</BtnMain>
      </li>
    </ul>
  </div>
  <div class="sm:hidden">
    <a href="/navigation">
      <svg
        width="27"
        height="18"
        viewBox="0 0 27 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M0 1.51163H26.8333" stroke="white" stroke-width="1.24806"
        ></path>
        <path d="M0 9H17" stroke="white" stroke-width="1.24806"></path>
        <path d="M0 16.4884H26.8333" stroke="white" stroke-width="1.24806"
        ></path>
      </svg>
    </a>
  </div>
</div>
