---
const OuterTags = [
  "NodeJs",
  "ExpressJs",
  "MongoDB",
  "GraphQL",
  "AstroJs",
  "Firebase",
  "NextJs",
  "ReactJs",
];
const InnerTags = [
  "HTML",
  "CSS",
  "JavaScript",
  "TypeScript",
  "SASS",
  "Bootstrap",
  "Tailwind",
  "Figma",
];
---

<div class="flex flex-col">
  <div class="overflow-hidden flex marquee-container">
    <div class="topSlide flex marquee whitespace-no-wrap">
      <div class="slide">
        {
          InnerTags.map((tag) => {
            return (
              <span class="tagSlide box-border text-base font-bold mb-2 ml-1 mt-0 rounded-3xl bg-none text-sec py-2.5 px-5 inline-block">
                {tag}
              </span>
            );
          })
        }
      </div>
      <div class="slide">
        {
          InnerTags.map((tag) => {
            return (
              <span class="tagSlide box-border text-base font-bold mb-2 ml-1 mt-0 rounded-3xl bg-none text-sec py-2.5 px-5 inline-block">
                {tag}
              </span>
            );
          })
        }
      </div>
    </div>
  </div>

  <div class="overflow-hidden flex marquee-container">
    <div class="bottomSlide flex marquee whitespace-no-wrap">
      <div class="slide">
        {
          OuterTags.map((tag) => {
            return (
              <span class="tagSlide box-border text-base font-bold mb-2 ml-1 mt-0 rounded-3xl bg-none text-sec py-2.5 px-5 inline-block">
                {tag}
              </span>
            );
          })
        }
      </div>
      <div class="slide">
        {
          OuterTags.map((tag) => {
            return (
              <span class="tagSlide box-border text-base font-bold mb-2 ml-1 mt-0 rounded-3xl bg-none text-sec py-2.5 px-5 inline-block">
                {tag}
              </span>
            );
          })
        }
      </div>
    </div>
  </div>
</div>
<style>
  .marquee-container {
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .marquee {
    font-family: sans-serif;
    color: #fff;
    white-space: nowrap;
    animation: marquee 10s infinite linear; /* notice the infinite */
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>
