---
import { Image } from "astro:assets";
import dp from "../assets/dp.png";

const OuterTags = [
  "JavaScript",
  "ReactJs",
  "AstroJs",
  "Firebase",
  "NextJs",
  "NodeJs",
  "ExpressJs",
  "MongoDB",
];
const InnerTags = ["HTMl/CSS", "Bootstrap", "Tailwind", "SASS"];
---

<div class="canvas flex justify-center items-center my-[100px]">
  <div class="text-[130px] font-extrabold text-white opacity-20">Stack</div>
  <div class="outerSolar">  
    {
      OuterTags.map((tag) => {
        return <div class="textBox-Position box-border text-sm font-light mb-2 mr-1 ml-0 mt-0 rounded-3xl bg-bgSec/50 text-tert py-1.5 px-4 inline-block">{tag}</div>;
      })
    }
    <div class="innerSolar">
      {
        InnerTags.map((tag) => {
          return <div class="textBox-Position box-border text-sm font-light mb-2 mr-1 ml-0 mt-0 rounded-3xl bg-bgSec/50 text-tert py-1.5 px-4 inline-block">{tag}</div>;
        })
      }
      <Image src={dp} alt="display picture" class="core" />
    </div>
  </div>
</div>
<style>
  .canvas {
    position: relative;
    width: 630px;
    height: 630px;
  }
  .core {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    animation: rotates 15s linear reverse infinite;
  }

  .innerSolar {
    width: 400px;
    height: 400px;
    border:1px solid rgba(148, 148, 148, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
  }
  .outerSolar {
    width: 630px;
    height: 630px;
    border: 1px solid #949494;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotates 15s linear infinite;
    box-sizing: border-box;
  }

  .textBox-Position {
    position: absolute;
  }
  .innerSolar :nth-child(1) {
    animation: Solarrotates reverse 15s linear infinite;
  }
  .inneSolarr :nth-child(2) {
    animation: Solarrotates reverse 15s linear infinite;
  }
  .innerSolar :nth-child(3) {
    animation: Solarrotates reverse 15s linear infinite;
  }
  .innerSolar :nth-child(4) {
    animation: Solarrotates reverse 15s linear infinite;
  }

  .outerSolar :nth-child(1) {
    top: -10px;
    animation: Solarrotates reverse 15s linear infinite;
  }
  .outerSolar :nth-child(2) {
    bottom: -10px;
    animation: Solarrotates reverse 15s linear infinite;
  }
  .outerSolar :nth-child(3) {
    right: -30px;
    animation: Solarrotates reverse 15s linear infinite;
  }
  .outerSolar :nth-child(4) {
    left: -25px;
    animation: Solarrotates reverse 15s linear infinite;
  }
  .outerSolar :nth-child(5) {
    top: 50px;
    right: 50px;
    animation: Solarrotates reverse 15s linear infinite;
  }
  .outerSolar :nth-child(6) {
    left: 50px;
    bottom: 50px;
    animation: Solarrotates reverse 15s linear infinite;
  }
  .outerSolar :nth-child(7) {
    top: 50px;
    left: 50px;
    animation: Solarrotates reverse 15s linear infinite;
  }
  .outerSolar :nth-child(8) {
    bottom: 50px;
    right: 50px;
    animation: Solarrotates reverse 15s linear infinite;
  }
  @keyframes Solarrotates {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: 360deg;
    }
  }

</style>
