---
import { ViewTransitions, fade, slide } from "astro:transitions";
import Navbar from "../components/Navbar.astro";
// import Sidebar from "../components/Sidebar";
export interface Props {
  title?: string;
}
const { title = "Gold.js" } = Astro.props as Props;
const navigationPage = Astro.url.pathname.includes("/navigation");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Astro description" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions transition:animate="none" />
  </head>
  <body
    class="font-normal font-sans text-main bg-bg 2xl:mx-auto flex-col items-center xl:max-w-screen-2xl"
    transition:animate={fade({ duration: "0.5s" })}
  >
    <nav>{navigationPage ? null : <Navbar />}</nav>
    <slot />

    <style is:global>
      html {
        scroll-behavior: smooth;
      }

      ::view-transition-group(*) {
        animation: none;
      }

      .canvas {
        position: relative;
      }
      .core {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        animation: rotates 15s linear reverse infinite;
      }

      .inner {
        width: 360px;
        height: 360px;
        border: 1px solid #949494;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        box-sizing: border-box;
      }
      .outer {
        width: 630px;
        height: 630px;
        border: 1px solid #949494;
        border-radius: 50%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: rotates 15s linear infinite;
        box-sizing: border-box;
      }

      .textBox-Position {
        position: absolute;
      }
      .inner :nth-child(1) {
        animation: rotates reverse 15s linear infinite;
      }
      .inner :nth-child(2) {
        animation: rotates reverse 15s linear infinite;
      }
      .inner :nth-child(3) {
        animation: rotates reverse 15s linear infinite;
      }
      .inner :nth-child(4) {
        animation: rotates reverse 15s linear infinite;
      }

      .outer :nth-child(1) {
        top: -10px;
        animation: rotates reverse 15s linear infinite;
      }
      .outer :nth-child(2) {
        bottom: -10px;
        animation: rotates reverse 15s linear infinite;
      }
      .outer :nth-child(3) {
        right: -30px;
        animation: rotates reverse 15s linear infinite;
      }
      .outer :nth-child(4) {
        left: -25px;
        animation: rotates reverse 15s linear infinite;
      }
      .outer :nth-child(5) {
        top: 50px;
        right: 50px;
        animation: rotates reverse 15s linear infinite;
      }
      .outer :nth-child(6) {
        left: 50px;
        bottom: 50px;
        animation: rotates reverse 15s linear infinite;
      }
      .outer :nth-child(7) {
        top: 50px;
        left: 50px;
        animation: rotates reverse 15s linear infinite;
      }
      .outer :nth-child(8) {
        bottom: 50px;
        right: 50px;
        animation: rotates reverse 15s linear infinite;
      }
      @keyframes rotates {
        0% {
          rotate: 0deg;
        }
        100% {
          rotate: 360deg;
        }
      }
    </style>
  </body>
</html>
